:root {
  --primary-title-color: #ffffff;
  --secondary-title-color: #212121;
  --primary-text-color: #757575;
  --secondary-text-color: #ffffff;
  --accent-color: #2196f3;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  background-color: var(--primary-title-color);
}

.link {
  text-decoration: none;
  color: inherit;
}

.list {
  list-style: none;
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
/* HEADER */

.header-container {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ececec;
}

.header-contact {
  display: flex;
  margin-left: auto;
}

.header-navigation {
  display: flex;
  align-items: center;
}

.header-list {
  display: flex;
  margin-left: 93px;
}

.header-list .header-item + .header-item {
  margin-left: 50px;
}

.header-cotact .header-item + .header-item {
  margin-left: 50px;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
}

.header-logo {
  color: #000000;
}

.header-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  line-height: 1.14;
  color: var(--secondary-title-color);
}

.header-item {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.header-link:hover,
.header-link:focus,
.current-link {
  color: var(--accent-color);
}

/* HERO */
.hero {
  background-color: #2f303a;
  text-align: center;
}
.hero-title {
  margin: 0 auto;
  max-width: 696px;
  margin-bottom: 30px;
  padding-top: 200px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-title-color);
}

.hero-btn {
  padding: 10px 32px;
  display: inline-block;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 200px;
  border: 0;
  border-radius: 4px;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--primary-title-color);
  background-color: var(--accent-color);
  cursor: pointer;
}

.hero-btn:hover,
.hero-btn:focus {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--primary-title-color);
  background-color: var(--accent-color);
}

/* ANDVANTAGES */

.advantages-list {
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.advantages-item {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--secondary-title-color);
}

.advantages-link {
  padding-top: 10px;
  max-width: 270px;
  font-weight: 700;
  line-height: 1.71;
}

/* WORK */

.work {
  padding-top: 0;
}

.work-title {
  text-align: center;
  padding-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  color: var(--secondary-title-color);
}

.work-list {
  display: flex;
  align-items: center;
}

/* TEAM */

.team-title {
  padding-top: 0;
  text-align: center;
  padding-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  color: var(--secondary-title-color);
}

.team-item {
  padding-top: 30px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--secondary-title-color);
}

.team-link {
  padding-top: 10px;
  padding-bottom: 30px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.19px;
  text-align: center;
}

.team-list {
  display: flex;
  align-items: center;
}

/* FOOTER */

.footer-container {
  display: flex;
}
.footer {
  background-color: #2f303a;
}

.footer-logo {
  padding-top: 60px;
  color: var(--secondary-text-color);
}
.adrress-item {
  font-style: normal;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
}

.adress-link {
  font-style: normal;
  line-height: 1.71;
  color: var(--secondary-text-color);
}
.adrress-item:hover,
.adrress-item:focus,
.adress-link:hover,
.adress-link:focus {
  color: var(--accent-color);
}

/* PORTFOLIO */

/* GALLERY */

.gallery-title {
  font-style: 400;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--secondary-title-color);
}
.gallery-item {
  font-size: 16px;
  line-height: 2;
}

.gallery-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  color: var(--secondary-title-color);
  cursor: pointer;
}

.gallery-btn:hover,
.gallery-btn:focus,
.current-btn {
  color: var(--secondary-text-color);
  background-color: var(--accent-color);
}
